@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	/* Common base font size*/
	font-size: 22px;
	/* Common font family */
	font-family: 'Open Sans', sans-serif;
	color: #555;
}

nav.navbar {
	padding: 2vh;
	background-color: transparent !important;
	border-bottom: 0px transparent;
	transition: 1s;
}

nav.navbar.faded {
	background-color: #3a560bd5 !important;
}

.navbar-right {
	position: absolute;
	right: 32%;
}

.nav-link {
	border-bottom: rgba(255, 255, 255, 0.753) solid;
	transition: 0.5s;
}

.nav-link:hover {
	border-bottom: #f1b802 solid;
}



.foo{
	border: 1px;
	padding: 5%;
	width: 100%;
	height: 5%;
	background-color: #193441;
}

.card-body{
	margin-left: 45%;
}

.card .btn.btn-primary {
	background-color: transparent;
	border: none;
	color: #f1b802;
	position: absolute;
	right: 10px;
	bottom: 10px;
	transition: 0.3s;
}

.card .btn.btn-primary:hover {
	font-size: 1.5rem;
}

.card .btn.btn-primary:focus,
.card .btn.btn-primary:active:focus {
	box-shadow: none;
}

.card .btn.btn-primary:active {
	color: #f1b802;
	background-color: transparent;
	border-color: transparent;
}
